body {
    padding-top: 5rem;
}

#app-view {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* .btn-primary {
    background-color: lightgreen;
    color: black;
} */


.navbar-brand, #dropdown-label, .nav-link, #to-home {
    color:white;
}
