<!-- this is the admin dash board
maybe adding in options for: 
  1. viewing all reimbursements
  2. click on a single reimbursement and approve or deny it
-->

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Manager Dashboard</h1>
    <p class="lead text-muted">Welcome to the dashboard.</p>
    <p>
      <button id = "create-reimb-admin" class="btn btn-primary my-2">Create Reimbursement</button>
      <button id = "view-reimb-admin" class="btn btn-secondary my-2">View Past Reimbursements</button>
    </p>
  </div>
</section>


