<!-- 
  Changed the dashboard to remove the cards
    but we should think about what actually should go on the dashboard later;

    idk....
 -->

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Employee Dashboard</h1>
      <p class="lead text-muted">Welcome to the dashboard.</p>
      <p>
        <button id = "create-reimb" class="btn btn-primary my-2">Create Reimbursement</button>
        <button id = "view-reimb" class="btn btn-secondary my-2">View My Reimbursements</button>
      </p>
    </div>
  </section>

 