<!-- view-reimb.html for employees -->

<table id = "empReimbTable" class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Reimbursement #</th>
            <th scope="col">User Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        <div id = "container">
        <tr id="empReimbRow" data-toggle="modal" class='clickable-row' data-href="#exampleModal" >
  <!--
      this is where the table gets populated

  -->
       </tr>
        </div>
       
    </tbody>
</table>